body {
	overflow-x: hidden;
}

#app {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	column-gap: 10px;
	row-gap: 10px;
	background-color: darkred;
}

svg {
	stroke-width: 15px;
	stroke: #ff665c;
	fill: none;
	stroke-linecap: round;
}
